<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>michtran.ca/blog - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/blog">michtran.ca/blog</a>
            </div>
            <div id="navigation">
                <a href="/blog/about.html">About</a>
                <a href="/">Find</a>
                <a href="/blog/archive.html">Archive</a>
                <a href="/atom.xml">Atom</a>
            </div>
        </div>

        <div id="content">
            <h1>$title$</h1>

            $body$
        </div>
        <footer>
          <noscript>:)</noscript>
          <p>This website is licensed under <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>.</p>
        </footer>
    </body>
</html>
